[submodule "third_party/ndarray"]
	path = third_party/ndarray
	url = https://github.com/jzrake/ndarray.git
[submodule "third_party/visit_struct"]
	path = third_party/visit_struct
	url = https://github.com/cbeck88/visit_struct.git
[submodule "third_party/patches"]
	path = third_party/patches
	url = https://github.com/jzrake/patches.git
